/jotaclient/nbproject/private/
/jotaserver/nbproject/private/
/jotacommon/nbproject/private/
/jotaclient/dist/
/jotaclient/build/
/jotaserver/build/
/jotaserver/dist/
/jotacommon/build/
/jotacommon/dist/
*~

/jotashared/target/
/jotaserver/target/
/jotaclient/target/